@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* quicksand Font family  */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.body {
    max-width: 1440px;
    background-color: rgb(247, 247, 247);
}

/* Header Section Css start  */
.header {
    border-bottom: 2px dashed gray;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.log-and-Web-Name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.log-and-Web-Name h2 {
    font: 1rem;
}

/* nav section */
.nav ul li {
    font-weight: 500;
    list-style: none;
}

.nav ul li>a {
    text-decoration: none;
}

.links-list {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.home {
    color: chocolate
}

.about {
    color: chartreuse;
}

.facilities {
    color: #FFB6C1;
    ;
}

.icon {
    display: none;
    width: 22px;
    height: 15px;
}

#contact-btn {
    padding: 10px 60px;
    border: none;
    color: rgb(255, 255, 255);
    font: 0.68rem;
    font-weight: 600;
    background-color: Orange;
    border-radius: 12px;

}

.btn {
    display: flex;
    justify-content: end;
}

/* banner section start  */
.banner {
    display: flex;
    gap: 50px;
    max-width: 1158px;
    margin: 20px auto;
}

.banner-text {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    margin: 0;
}

.Empowering {
    color: rgb(254, 163, 1);
}

.towards {
    color: rgb(1, 172, 253);
}

.banner-info {
    font-weight: 400;
    color: rgb(17, 17, 17);

}

.enroll-btn {
    max-width: 197px;
    max-height: 50px;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

.ban-sec-1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    max-height: 331px;
    margin: auto 0;
}

.ban-sec-2 img {
    width: 100%;
    max-height: 575px;

}



@media screen and (max-width:576px) {
    .icon {
        display: inline;
        padding-left: 60%;
        justify-content: center;
        align-items: center;

    }

    .log-and-Web-Name img {
        padding-left: 20px;
        width: 30%;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        margin-top: 20px;

    }

    .links-list {
        display: none;
    }

    .log-and-Web-Name h2,
    .btn {
        display: none;
    }

    /* banner section  */
    .banner {
        flex-direction: column-reverse;
    }

    .ban-sec-1 {
        text-align: center;
    }

    .enroll-btn {
        margin: 0 auto;
    }

    .enroll-btn {
        width: 131px;
        height: 42px;
        padding: 10px;
        border-radius: 8px;
    }

    .banner-info {
        text-align: center
    }
}