@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* quicksand Font family  */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.body {
    max-width: 1440px;
    background-color: rgb(247, 247, 247);
}

/* Header Section Css start  */
.header {
    border-bottom: 2px dashed gray;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.log-and-Web-Name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.log-and-Web-Name h2 {
    font: 1rem;
}

/* nav section */
.nav ul li {
    font-weight: 500;
    list-style: none;
}

.nav ul li>a {
    text-decoration: none;
}

.links-list {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.home {
    color: chocolate
}

.about {
    color: chartreuse;
}

.facilities {
    color: #FFB6C1;
    ;
}

.icon {
    display: none;
    width: 22px;
    height: 15px;
}

#contact-btn {
    padding: 10px 60px;
    border: none;
    color: rgb(255, 255, 255);
    font: 0.68rem;
    font-weight: 600;
    background-color: Orange;
    border-radius: 12px;

}

.btn {
    display: flex;
    justify-content: end;
}

/* banner section start  */
.banner {
    display: flex;
    gap: 50px;
    max-width: 1158px;
    margin: 20px auto;
}

.banner-text {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    margin: 0;
}

.Empowering {
    color: rgb(254, 163, 1);
}

.towards {
    color: rgb(1, 172, 253);
}

.banner-info {
    font-weight: 400;
    color: rgb(17, 17, 17);

}

.enroll-btn {
    max-width: 197px;
    max-height: 50px;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

.ban-sec-1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    max-height: 331px;
    margin: auto 0;
}

.ban-sec-2 img {
    width: 100%;
    max-height: 575px;

}

/* main section start    */

.main {
    max-width: 1440px;
    max-height: 879px;
    background-image: url(../assets/bg.png);
}

.Curriculum h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 60px;
}

.card {
    max-width: 367.8px;
    max-height: 476px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0 auto;
    padding: 30px;
}

.card-1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(205, 243, 101), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(59, 57, 57, 0.05);
    background: linear-gradient(180.00deg, rgba(128, 228, 228, 0.856), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 144, 230), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card div {
    display: flex;
    justify-content: center;
}

.main-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card-p {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.c-text {
    font-weight: 500;
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
    text-align: center;
}

.link-p {
    text-align: center;
}

.read-more-1 {
    color: rgba(0, 0, 255, 0.692);
    text-decoration: none;
}

.read-more-2 {
    color: #FFB6C1;
    text-decoration: none;
}

.read-more-3 {
    color: chartreuse;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.icon-sec {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.icon-sec i {
    font-size: 24px;
    background-color: orange;
    padding: 17px 20px;
    border-radius: 50%;
    margin-top: 10px;
}

/* stories section start  */
.stories h2 {
    color: rgb(0, 0, 0);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.stories {
    max-width: 1440px;

}

.section {
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(245, 243, 243, 0.3) 100%);
    padding-bottom: 60px;
}

.stories-container {

    max-width: 1160px;
    max-height: 630px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2, 1fr;
    gap: 10px;

}


.box1 img {
    border-radius: 7px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.story-1 img {
    height: 337px;
}


.box1 {
    display: flex;
    gap: 20px;

}

.box1>div {
    width: 50%;
}

.box1>div>div {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.box1>div>div p {
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    text-align: left;
}

.story-1 {
    display: flex;
    flex-direction: column;
    gap: 4.5%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 610px;
}

.date {
    position: absolute;
    background-color: aqua;
    color: white;
    padding: 14px 18px;
    border-radius: 12px;
    left: 6%;
    top: 47%;
}

.sub-date {
    left: 5%;
    top: 43%;
}

.box4 {
    position: relative;

}

.story-1 p,
h4 {
    padding-left: 5px;

}

.story-1 p {
    margin-top: -20px;
}

.story-1 h4 {
    font-size: 1.2em;
}

.other-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.other-stories>div {
    width: 290px;
    height: 300px;
}





@media screen and (max-width:576px) {
    .icon {
        display: inline;
        padding-left: 60%;
        justify-content: center;
        align-items: center;

    }

    .log-and-Web-Name img {
        padding-left: 20px;
        width: 30%;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        margin-top: 20px;

    }

    .links-list {
        display: none;
    }

    .log-and-Web-Name h2,
    .btn {
        display: none;
    }

    /* banner section  */
    .banner {
        flex-direction: column-reverse;
    }

    .ban-sec-1 {
        text-align: center;
    }

    .enroll-btn {
        margin: 0 auto;
    }

    .enroll-btn {
        width: 131px;
        height: 42px;
        padding: 10px;
        border-radius: 8px;
    }

    .banner-info {
        text-align: center
    }


    /* main section start  */
    .main-image {
        grid-template-columns: 1fr;
        row-gap: 20px;

    }

    .icon-sec {
        display: none;
    }
}